<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">我们有何优势？</h2>
                <hr class="light">
                <p class="text-faded">· 百万微信开发人才（人才多，方案多，选择多；百万人才汇聚，各路微信开发大牛云集）</p>
                <p class="text-faded">· 更具性比价（价格多少，您说了算。为您节约成本，实惠看得见，让企业更好发展）</p>
                <p class="text-faded">· 一对一服务（专业团队，从需求联系、发布、跟进一条龙优质服务，把简单留给您）</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
