<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">心动了吗？</h2>
                <hr class="primary">
                <p>立刻开始您的微信/H5开发之旅，请通过下面联系方式联系我吧！</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://weibo.com/dr4ycen">
                <i class="fa fa-weibo fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.twitter_username }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:18108318@qq.com">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>18108318@qq.com</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://qq.com/18108318">
            <i class="fa fa-qq fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>18108318</p>
            </a>
        </div>

    </div>
</section>
