<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">当然，您的每笔交易我们全程保障</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>保证完成</h3>
                    <p class="text-muted">保证按时按质完成工作.</p>
                    <p class="text-muted">（并修改到满意为止）</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>保证原创</h3>
                    <p class="text-muted">保证向雇主提供原创作品.</p>
                    <p class="text-muted">（设计类适用）</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>保证维护</h3>
                    <p class="text-muted">保证向雇主提供三个月免费维护.</p>
                    <p class="text-muted">（开发类及部分定制服务适用）</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>保证提供源码</h3>
                    <p class="text-muted">保证提供可二次开发使用的完整源码.</p>
                    <p class="text-muted">（开发类适用）</p>
                </div>
            </div>
        </div>
    </div>
</section>
